main {
  display: grid;
  place-items: center;
}

.btn,
.pick-btn:not(.pick-btn--result) {
  cursor: pointer;
}

.pick-btn {
  width: clamp(150px, 10vw, 250px);
  height: clamp(150px, 10vw, 250px);
  border-radius: 100vmax;
  background-color: #fff;
}