:root {
  --clr-scissors: hsl(39, 89%, 49%);
  --clr-scissors-lighter: hsl(39, 89%, 49%);
  --clr-paper: hsl(230, 89%, 62%);
  --clr-paper-lighter: hsl(230, 89%, 65%);
  --clr-rock: hsl(349, 71%, 52%);
  --clr-rock-lighter: hsl(349, 70%, 56%);

  --clr-primary-200: hsl(217, 16%, 45%);
  --clr-primary-300: hsl(229, 25%, 31%);
  --clr-primary-400: hsl(229, 64%, 46%);
  --clr-primary-600: hsl(214, 47%, 23%);
  --clr-primary-900: hsl(237, 49%, 15%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: radial-gradient(circle, var(--clr-primary-600), var(--clr-primary-900));
  color: #fff;
}

a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  display: inline-block;
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.uppercase {
  text-transform: uppercase;
}