:root {
  --clr-scissors: hsl(40, 84%, 53%);
  --clr-scissors-darker: hsl(39, 89%, 40%);
  --clr-paper: hsl(230, 89%, 65%);
  --clr-paper-darker: hsl(230, 89%, 59%);
  --clr-rock: hsl(349, 70%, 56%);
  --clr-rock-darker: hsl(349, 71%, 40%);

  --clr-primary-200: hsl(217, 16%, 45%);
  --clr-primary-300: hsl(229, 25%, 31%);
  --clr-primary-400: hsl(229, 64%, 46%);
  --clr-primary-600: hsl(214, 47%, 23%);
  --clr-primary-900: hsl(237, 49%, 15%);

  --fs-400: 1.1rem;
  --fs-500: 1.1rem;
  --fs-900: 4rem;
}

@media(min-width: 40em) {
  :root {
    --fs-500: 1.5rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: radial-gradient(circle, var(--clr-primary-600), var(--clr-primary-900));
  color: #fff;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  display: inline-block;
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-900 {
  font-size: var(--fs-900);
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-primary-200 {
  color: var(--clr-primary-200)
}

.text-primary-300 {
  color: var(--clr-primary-300)
}

.text-primary-400 {
  color: var(--clr-primary-400)
}

.text-primary-600 {
  color: var(--clr-primary-600)
}

.text-primary-900 {
  color: var(--clr-primary-900)
}

.bg-primary-200 {
  background-color: var(--clr-primary-200)
}

.bg-primary-300 {
  background-color: var(--clr-primary-300)
}

.bg-primary-400 {
  background-color: var(--clr-primary-400)
}

.bg-primary-600 {
  background-color: var(--clr-primary-600)
}

.bg-primary-900 {
  background-color: var(--clr-primary-900)
}

.bg-white {
  background-color: #fff;
}

.pick-btn svg {
  z-index: 2;
}

.pick-btn::before,
.pick-btn::after {
  content: '';
  position: absolute;
  border-radius: 100vmax;
}

.pick-btn::before {
  inset: -1.5rem;
  transform: rotate(-90deg);
}

.pick-btn::after {
  inset: 1rem;
  background: radial-gradient(circle at 60%, #fff, #fff 50%, #fff 68%, rgb(219, 219, 219) 55%);
  transform: rotate(90deg);
}

.pick-btn--paper {
  background: radial-gradient(circle at 70%, var(--clr-paper), var(--clr-paper) 70%, var(--clr-paper) 75%, var(--clr-paper-darker) 75%);
}

.pick-btn--scissors {
  background: radial-gradient(circle at 70%, var(--clr-scissors), var(--clr-scissors) 70%, var(--clr-scissors) 75%, var(--clr-scissors-darker) 75%);
}

.pick-btn--rock {
  background: radial-gradient(circle at 70%, var(--clr-rock), var(--clr-rock) 70%, var(--clr-rock) 75%, var(--clr-rock-darker) 75%);
}

.btn {
  background-color: #fff;
  border: 0;
  border-radius: .35rem;
  padding: .8em 3.9em;
  letter-spacing: .25rem;
  text-transform: uppercase;
  font-size: var(--fs-400);
}

.btn:hover {
  color: var(--clr-rock);
}